.THIS .red svg {
    fill : red;
}

.THIS .orange svg {
    fill : orange;
}

.THIS .green svg {
    fill : green;
}

.THIS .new {
    font-weight: bold;
    color: blue;
}

.THIS .seenSize {
    font-size: xx-small;
}