.THIS .container {
	height: 100%;
	background-color: white;
}

.THIS .content {
	height:calc(100% - 49px);
}

.THIS .title {
	font-weight: bold;
}

.THIS .red svg {
    fill : red;
}

.THIS .orange svg {
    fill : orange;
}

.THIS .green svg {
    fill : green;
}